 <h2>会員情報編集</h2>
  <%= form_with model: @customer, url: admin_customer_path(@customer.id) do |f| %>
  <table class="row table">
    <th class="col-xs-2"><%= f.label :会員ID %></th>
    <td class="col-xs-10"><%= f.text_field :id  , class:"form-control"%></td>
    <tr>
      <th><%= f.label :姓 %></th>
      <td><%= f.text_field :last_name, class:"form-control" %></td>
      <th><%= f.label :名%></th>
      <td> <%= f.text_field :first_name, class:"form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :姓（フリガナ） %></th>
      <td><%= f.text_field :last_name_kana, class:"form-control" %></td>
      <th><%= f.label :名（フリガナ） %></th>
      <td><%= f.text_field :first_name_kana, class:"form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :郵便番号 %></th>
      <td><%= f.text_field :postal_code, class:"form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :住所 %></th>
      <td><%= f.text_field :address, class:"form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :電話番号 %></th>
      <td><%= f.text_field :telephon_number, class:"form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :メールアドレス %></th>
      <td><%= f.text_field :email , class:"form-control"%></td>
    </tr>
    <tr>
      <th><%= f.label :会員ステータス %></th>
            <td><%= f.select :is_deleted, [["有効会員","false"], ["退会済み","true"]], class:"form-control" %></td>

    </tr>
      </table>

        <%= f.submit "変更を保存する", class: "btn btn-success " %>

  <% end %>
  <div class="row text-right">
  </div>
