<h1>Admin::Genres#index</h1>
<p>Find me in app/views/admin/genres/index.html.erb</p>

 <div class = "row">
    <%= render 'books/error', model: @book %>
   <div class = "col-md-3">
    <%= render 'users/user', user: @user %>
    <h2>New book</h2>
      <%= render 'items/item', item: @item %>
   </div>

   <div class = "col-md-8 offset-md-1">
      <h2>Items</h2>
      <table class = "table table-hover table-inverse">
          <thead>

            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </thead>
          <tbody>
            <% @items.each do |item| %>
            <tr>
               <td></td>
               <td><%= link_to  user_path(item.user) do %>
               <td><%= image_tag @user.get_profile_image(100, 100) %></td>
               <% end %>
               </td>
               <td><%= link_to item.title, admin_path(item.id) %></td>
              <td><%= book.body %></td>
            </tr>
            <% end %>
          </tbody>
      </table>
   </div>
  </div>
